/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-team-schedule-block {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

table.team-frontend thead tr th, table.team-frontend tbody tr td {
    padding: .7em 1em;
    border: 1px solid #d1d5db;
    border-width: 0 1px 1px 0;
}
